body {
    background-color: #d4d4d3
}

h1 {
    font-family: monospace;
    font-size: 50px;
    text-align: center;
}

.mainBox {
    width: 795.5px;
    height: 600px;
    border: 12px #c0babae3 solid;
    border-radius: 10px ;
    box-shadow: 0 0 40px #c0babae3;
    background-color: #e5e5e5;;
    text-align: center;
    margin: auto;
}

.canvas {
    width: 99.6%;
    height: 450px;
    border: 3px grey solid;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    display: inline-block;
}

.pixel {
    width: 10px;
    height: 10px;
    background-color: white;
    float : left;
    border : 0.5px lightgrey solid;
    position: relative;
}

.pallette {
    width: 99.5%;
    height: 140px;
    text-align: center;

}

.row {
    width : 97.6%;
    height: 120px;
    background-color: lightgray;
    margin: 5px;
    display: inline-block;
    border-radius: 20px;
    position: relative;
}

.pen {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    display: inline-block;
    margin: 9px;
    float: left;
}

.cpt {
    font-family: monospace;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 8px;
    margin-right: 155px;
}

.colorPicker {
    border: lightgrey 1px solid;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-right: 170px;
    margin-bottom: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.cct {
    font-family: monospace;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 8px;
    margin-right: 40px;
}

.currentColor {
    background-color: white;
    border: #d1cfcfce 1.5px solid;
    border-radius: 10px;
    width: 60px;
    height: 37px;
    margin-right: 48px;
    margin-bottom: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.tools {


}
